#about{
    position: relative;
    padding: 100px 0;
    @include media-breakpoint-down(sm){
        padding: 50px 0;
    }
    .about-info{
        h2{
            color: #353535;
            font-size: 26px;
            padding-bottom: 10px;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .figure {
            display: inline-block;
            vertical-align: top;
            margin-left: 15px;
            margin: 0;
            span {
                float: left;
                margin-left: -15px;
                padding: 15px 20px;
                position: relative;
                top: 20px;
                i {
                    background: $theme-color;
                    border-radius: 50px;
                    color: $white;
                    font-size: 25px;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                }
            }
            .figcaption{
                h3 {
                    font-size: 22px;
                    margin-bottom: 0;
                    color: #454545;
                    margin-top: 20px;
                }
            }
        }
    }
    .entry-form{
        background: #252020;
        border-radius: 100%;
        text-align: center;
        padding: 6em;
        width: 450px;
        height: 450px;
        transition: 1s;
        @include media-breakpoint-down(xs){
            width: auto !important;
            padding: 4em;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 0;
            margin-right: 10px;
        }
        &:hover{
            border: 1px solid $theme-color;
            transition: 1s; 
            border-radius: 100%;
            background-color: transparent;
            h2{
                color: $black;
            }
            .submit-btn{
                border: 1px solid $theme-color;
                transition: 1s;
            }
        }
        h2{
            color: $white;
            margin: 0;
            font-size: 26px;
            padding-bottom: 10px;
        }
        .form-control {
            background: transparent;
            border: 0;
            border-bottom: 1px solid;
            border-radius: 0;
            box-shadow: none;
            height: 45px;
            margin: 10px 0;
        }
        .submit-btn {
            background: $white;
            border-radius: 50px;
            border: 0;
            color: #252020;
            width: 50%;
            height: 50px;
            margin: 30px auto;
            margin-bottom: 10px;
            transition: 1s;
            @include media-breakpoint-down(xs){
                width: auto !important;
            }
        }
    }
}