#feature{
    position: relative;
    padding: 100px 0;
    @include media-breakpoint-down(sm) {
        padding: 50px 0;
    }
    .feature-thumb{
        border: 1px solid #f0f0f0;
        padding: 30px;
        transition: 1s;
        @include media-breakpoint-down(sm){
            margin-bottom: 20px;
        }
        &:hover{
            background-color: transparent;
            border: 1px solid $theme-color;
            color: $black;
            transition: 1s;
        }
        span{
            background: #3f51b5;
            border-radius: 50px;
            color: $white;
            font-size: 25px;
            font-weight: bold;
            display: inline-block;
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            margin-bottom: 5px;
            transition: 1s;
            &:hover{
                background-color: transparent;
                border: 1px solid $theme-color;
                color: $black;
                transition: 1s;
            }
        }
        h3 {
            margin: 10px 0;
            font-size: 1.5em;
            font-weight: bold;
            line-height: inherit;
            font-family: $font-family;
        }
    }
}