<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <title>Known</title>

    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>

        <section id="home">
            <div class="caption">
                <div class="container">
                    <div class="row animated fadeInRight">
                        <div class="col-md-6 col-sm-12">
                            <div class="hd-title">
                                <h1>Distance Learning Education Center</h1>
                                <h3>Our online courses are designed to fit in your industry supporting all-round with latest technologies.</h3>
                                <a href="#" class="section-btn btn btn-default smoothScroll">Discover more</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>    
        </section>
        <section id="feature">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="feature-thumb">
                            <span>01</span>
                            <h3>Trending Courses</h3>
                            <p>Known is free education HTML Bootstrap Template. You can modify in any way and use this for your website.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="feature-thumb">
                            <span>02</span>
                            <h3>Books & Library</h3>
                            <p>You are allowed to use Known HTML Template for your commercial or non-commercial websites.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="feature-thumb">
                            <span>03</span>
                            <h3>Certified Teachers</h3>
                            <p>Please spread a word about us. Template redistribution is NOT allowed on any download website.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>    
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="about-info">
                            <h2>Start your journey to a better life with online practical courses</h2>
                            <div class="figure">
                                <span><i class="fa fa-users"></i></span>
                                <div class="figcaption">
                                    <h3>Professional Trainers</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa voluptatibus.</p>
                                </div>
                            </div>
                            <div class="figure">
                                <span><i class="fa fa-certificate"></i></span>
                                <div class="figcaption">
                                    <h3>Professional Trainers</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa voluptatibus.</p>
                                </div>
                            </div>
                            <div class="figure">
                                <span><i class="fas fa-chart-bar"></i></span>
                                <div class="figcaption">
                                    <h3>Professional Trainers</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa voluptatibus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="entry-form">
                            <form action="#" method="post">
                                <h2>Signup today</h2>
                                <input type="text" name="full name" class="form-control" placeholder="Full name" required="">
                            
                                <input type="email" name="email" class="form-control" placeholder="Your email address" required="">
                            
                                <input type="password" name="password" class="form-control" placeholder="Your password" required="">
                            
                                <button class="submit-btn form-control" id="form-submit">Get started</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
        <section id="team">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="section-title">
                            <h2>Teachers <small>Meet Professional Trainers</small></h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-thumb">
                            <div class="team-image">
                                <img src="images/author-image1.jpg" class="img-responsive img-fluid" alt="">
                            </div>
                            <div class="team-info">
                                <h3>Mark Wilson</h3>
                                <span>I love Teaching</span>
                            </div>
                            <ul class="social-icon">
                                <li><a href="#" class="" ><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class=""><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class=""><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-thumb">
                            <div class="team-image">
                                <img src="images/author-image2.jpg" class="img-responsive img-fluid" alt="">
                            </div>
                            <div class="team-info">
                                <h3>Catherine</h3>
                                <span>Education is the key!</span>
                            </div>
                            <ul class="social-icon">
                                <li><a href="#" class=""><i class="fab fa-google"></i></a></li>
                                <li><a href="#" class=""><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-thumb">
                            <div class="team-image">
                                <img src="images/author-image3.jpg" class="img-responsive img-fluid" alt="">
                            </div>
                            <div class="team-info">
                                <h3>Jessie Ca</h3>
                                <span>I like Online Courses</span>
                            </div>
                            <ul class="social-icon">
                                <li><a href="#" class=""><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class=""><i class="fas fa-envelope"></i></a></li>
                                <li><a href="#" class=""><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-thumb">
                            <div class="team-image">
                                <img src="images/author-image4.jpg" class="img-responsive img-fluid" alt="">
                            </div>
                            <div class="team-info">
                                <h3>Andrew Berti</h3>
                                <span>Learning is fun</span>
                            </div>
                            <ul class="social-icon">
                                <li><a href="#" class=""><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class=""><i class="fab fa-google"></i></a></li>
                                <li><a href="#" class=""><i class="fab fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </>
            </div>
        </section>   
        <section id=courses>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="section-title text-center">
                            <h2>Popular Courses <small>Upgrade your skills with newest courses</small></h2>
                        </div>
                    </div>
                </div>
                <div class="row blog">
                    <div class="col-md-12">
                        <div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="item-box-blog">
                                                <div class="item-box-blog-image">
                                                    <!--Image-->
                                                    <figure> <img alt="" src="images/courses-image1.jpg" class="img-fluid">
                                                    </figure>
                                                </div>
                                                <div class="item-box-blog-body">
                                                    <!--Heading-->
                                                    <div class="item-box-blog-heading">
                                                        <h5>Business & Management</h5>
                                                    </div>
                                                    <!--Data-->
                                                    <div class="item-box-blog-data" style="padding: px 15px;">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read
                                                            more</a> </div>
                                                    <!--Read More Button-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="item-box-blog">
                                                <div class="item-box-blog-image">
                                                    <!--Image-->
                                                    <figure> <img alt="" src="images/courses-image2.jpg" class="img-fluid">
                                                    </figure>
                                                </div>
                                                <div class="item-box-blog-body">
                                                    <!--Heading-->
                                                    <div class="item-box-blog-heading">
                                                        <h5>Social Media</h5>
                                                    </div>
                                                    <!--Data-->
                                                    <div class="item-box-blog-data" style="padding: px 15px;">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                    <!--Text-->
                                                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read
                                                            more</a> </div>
                                                    <!--Read More Button-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="item-box-blog">
                                                <div class="item-box-blog-image">
                                                    <!--Image-->
                                                    <figure> <img alt="" src="images/courses-image3.jpg" class="img-fluid">
                                                    </figure>
                                                </div>
                                                <div class="item-box-blog-body">
                                                    <!--Heading-->
                                                    <div class="item-box-blog-heading">
                                                        <h5>Graphic &amp; Web Design</h5>
                                                    </div>
                                                    <!--Data-->
                                                    <div class="item-box-blog-data" style="padding: px 15px;">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                    <!--Text-->
                                                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read
                                                            more</a> </div>
                                                    <!--Read More Button-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--.row-->
                                </div>
                                <!--.item-->
                                <div class="carousel-item ">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="item-box-blog">
                                                <div class="item-box-blog-image">
                                                    <!--Image-->
                                                    <figure> <img alt="" src="images/courses-image4.jpg" class="img-fluid">
                                                    </figure>
                                                </div>
                                                <div class="item-box-blog-body">
                                                    <!--Heading-->
                                                    <div class="item-box-blog-heading">
                                                        <h5>Summer Kids</h5>
                                                    </div>
                                                    <!--Data-->
                                                    <div class="item-box-blog-data" style="padding: px 15px;">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                    <!--Text-->
                                                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read
                                                            more</a> </div>
                                                    <!--Read More Button-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="item-box-blog">
                                                <div class="item-box-blog-image">
                                                    <!--Image-->
                                                    <figure> <img alt="" src="images/courses-image5.jpg" class="img-fluid">
                                                    </figure>
                                                </div>
                                                <div class="item-box-blog-body">
                                                    <!--Heading-->
                                                    <div class="item-box-blog-heading">
                                                        <h5>Marketing</h5>
                                                    </div>
                                                    <!--Data-->
                                                    <div class="item-box-blog-data" style="padding: px 15px;">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                    <!--Text-->
                                                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read
                                                            more</a> </div>
                                                    <!--Read More Button-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="item-box-blog">
                                                <div class="item-box-blog-image">
                                                    <!--Image-->
                                                    <figure> <img alt="" src="images/courses-image4.jpg" class="img-fluid">
                                                    </figure>
                                                </div>
                                                <div class="item-box-blog-body">
                                                    <!--Heading-->
                                                    <div class="item-box-blog-heading">
                                                        <h5>Graphic &amp; Web Design</h5>
                                                    </div>
                                                    <!--Data-->
                                                    <div class="item-box-blog-data" style="padding: px 15px;">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                    <!--Text-->
                                                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read
                                                            more</a> </div>
                                                    <!--Read More Button-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--.row-->
                                </div>
                                <!--.item-->
                            </div>
                            <ol class="carousel-indicators">
                                <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#blogCarousel" data-slide-to="1"></li>
                            </ol>
                            <!--.carousel-inner-->
                        </div>
                        <!--.Carousel-->
                    </div>
                </div>
            </div>
        </section>  
        <section id="blog">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="section-title text-center">
                            <h2>Our Blog <small>Upgrade your skills with newest courses</small></h2>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="media blog-thumb">
                            <div class="media-object media-left">
                                <a href="#"><img src="images/blog-image1.jpg" class="img-responsive" alt=""></a>
                            </div>
                            <div class="media-body blog-info">
                                <small><i class="fa fa-clock-o"></i> December 22, 2017</small>
                                <h3><a href="blog-detail.html">How To Find Out Beautiful Workspace.</a></h3>
                                <p>Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                                <a href="blog-detail.html" class="btn section-btn">Read article</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="media blog-thumb">
                            <div class="media-object media-left">
                                <a href="#"><img src="images/blog-image2.jpg" class="img-responsive" alt=""></a>
                            </div>
                            <div class="media-body blog-info">
                                <small><i class="fa fa-clock-o"></i> December 22, 2017</small>
                                <h3><a href="blog-detail.html">How To Find Out Beautiful Workspace.</a></h3>
                                <p>Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                                <a href="blog-detail.html" class="btn section-btn">Read article</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="media blog-thumb">
                            <div class="media-object media-left">
                                <a href="#"><img src="images/blog-image3.jpg" class="img-responsive" alt=""></a>
                            </div>
                            <div class="media-body blog-info">
                                <small><i class="fa fa-clock-o"></i> December 22, 2017</small>
                                <h3><a href="blog-detail.html">How To Find Out Beautiful Workspace.</a></h3>
                                <p>Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                                <a href="blog-detail.html" class="btn section-btn">Read article</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="media blog-thumb">
                            <div class="media-object media-left">
                                <a href="#"><img src="images/blog-image4.jpg" class="img-responsive" alt=""></a>
                            </div>
                            <div class="media-body blog-info">
                                <small><i class="fa fa-clock-o"></i> December 22, 2017</small>
                                <h3><a href="blog-detail.html">How To Find Out Beautiful Workspace.</a></h3>
                                <p>Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                                <a href="blog-detail.html" class="btn section-btn">Read article</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>    
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <form id="contact-form" role="form" action="" method="post">
                            <div class="section-title">
                                <h2>Contact us <small>we love conversations. let us talk!</small></h2>
                            </div>
                        
                            <div class="col-md-12 col-sm-12">
                                <input type="text" class="form-control" placeholder="Enter full name" name="name" required="">
                        
                                <input type="email" class="form-control" placeholder="Enter email address" name="email" required="">
                        
                                <textarea class="form-control" rows="6" placeholder="Tell us about your message" name="message"
                                    required=""></textarea>
                            </div>
                        
                            <div class="col-sm-4 col-md-6 col-6 pl-0">
                                <input type="submit" class="form-control" name="send message" value="Send Message">
                            </div>
                        
                        </form>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="contact-image">
                            <img src="images/contact-image.jpg" class="img-responsive" alt="Smiling Two Girls">
                        </div>
                    </div>
                </div>
            </div>
        </section>            

<% include /src/include/scripts.ejs %>
    <script>
            $(document).ready(function () {
                    var itemsMainDiv = ('.MultiCarousel');
                    var itemsDiv = ('.MultiCarousel-inner');
                    var itemWidth = "";

                    $('.leftLst, .rightLst').click(function () {
                        var condition = $(this).hasClass("leftLst");
                        if (condition)
                            click(0, this);
                        else
                            click(1, this)
                    });

                    ResCarouselSize();




                    $(window).resize(function () {
                        ResCarouselSize();
                    });

                    //this function define the size of the items
                    function ResCarouselSize() {
                        var incno = 0;
                        var dataItems = ("data-items");
                        var itemClass = ('.item');
                        var id = 0;
                        var btnParentSb = '';
                        var itemsSplit = '';
                        var sampwidth = $(itemsMainDiv).width();
                        var bodyWidth = $('body').width();
                        $(itemsDiv).each(function () {
                            id = id + 1;
                            var itemNumbers = $(this).find(itemClass).length;
                            btnParentSb = $(this).parent().attr(dataItems);
                            itemsSplit = btnParentSb.split(',');
                            $(this).parent().attr("id", "MultiCarousel" + id);


                            if (bodyWidth >= 1200) {
                                incno = itemsSplit[3];
                                itemWidth = sampwidth / incno;
                            }
                            else if (bodyWidth >= 992) {
                                incno = itemsSplit[2];
                                itemWidth = sampwidth / incno;
                            }
                            else if (bodyWidth >= 768) {
                                incno = itemsSplit[1];
                                itemWidth = sampwidth / incno;
                            }
                            else {
                                incno = itemsSplit[0];
                                itemWidth = sampwidth / incno;
                            }
                            $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
                            $(this).find(itemClass).each(function () {
                                $(this).outerWidth(itemWidth);
                            });

                            $(".leftLst").addClass("over");
                            $(".rightLst").removeClass("over");

                        });
                    }


                    //this function used to move the items
                    function ResCarousel(e, el, s) {
                        var leftBtn = ('.leftLst');
                        var rightBtn = ('.rightLst');
                        var translateXval = '';
                        var divStyle = $(el + ' ' + itemsDiv).css('transform');
                        var values = divStyle.match(/-?[\d\.]+/g);
                        var xds = Math.abs(values[4]);
                        if (e == 0) {
                            translateXval = parseInt(xds) - parseInt(itemWidth * s);
                            $(el + ' ' + rightBtn).removeClass("over");

                            if (translateXval <= itemWidth / 2) {
                                translateXval = 0;
                                $(el + ' ' + leftBtn).addClass("over");
                            }
                        }
                        else if (e == 1) {
                            var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
                            translateXval = parseInt(xds) + parseInt(itemWidth * s);
                            $(el + ' ' + leftBtn).removeClass("over");

                            if (translateXval >= itemsCondition - itemWidth / 2) {
                                translateXval = itemsCondition;
                                $(el + ' ' + rightBtn).addClass("over");
                            }
                        }
                        $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
                    }

                    //It is used to get some elements from btn
                    function click(ell, ee) {
                        var Parent = "#" + $(ee).parent().attr("id");
                        var slide = $(Parent).attr("data-slide");
                        ResCarousel(ell, Parent, slide);
                    }

                });


    </script>
</body>
</html>